.app {
  font-family: "arial";
  background-color: #dae0e6;
}

body {
  background-color: #dae0e6;
}

ul.navbar {
  font-family: "arial";
  position: -webkit-sticky; /* Safari */
  position: sticky;
  height: 80px;
  top: 0;
  list-style-type: none;
  margin: -8px -8px -21px -8px; /* weird navbar shortening fix */
  overflow: hidden;
  background-color: #ffffff;
  border-bottom: 1px solid lightgray;
}

.navbar li {
  float: left;
}

.navbar li a {
  margin-top: 10px;
  font-size: 20px;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.search-container input {
  background-color: rgb(240, 240, 240);
  border: none;
  font-size: 30px;
  width: 500px;
  height: 40px;
  padding: 6px 6px 6px 50px;
  margin-top: 14px;
  font-size: 17px;
  border-radius: 30px;
}

.search-container i {
  transform: translate(40px, -2px);
}

.search-container button {
  width: 40px;
  height: 40px;
  padding: 6px 10px;
  background: #ddd;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.user-details {
  margin-top: 4px;
  position: fixed;
  top: 0;
  right: 0;
}

.search {
  font-size: 20px;
}

.login {
  font-size: 20px;
  margin-right: 10px;
}
.register {
  font-size: 20px;
  margin-right: 10px;
}

.profile {
  font-size: 20px;
  margin-right: 10px;
}

.navbar li a {
  border: 1px solid transparent;
  text-decoration: none;
  color: black;
}

.navbar li a:hover {
  background-color: lightgray;
}

.main-container {
  display: flex;
  padding: 0px 50px 0px 0px;
}
.main-container h1 {
  font-size: 100px;
}

.communities-container input[type="text"] {
  margin-top: 20px;
  margin-left: 16px;
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 2px;
  padding-left: 10px;
  border: 1px solid lightgray;
  background-color: rgb(235, 235, 235);
}

.communities-container input[type="text"]:hover {
  border: 1px solid black;
  background-color: white;
}
.communities-container h2 {
  margin-bottom: 20px;
  font-size: 12px;
  padding: 0px 20px;
}

.communities-container {
  font-family: "verdana";
  background-color: white;
  position: fixed;
  font-size: 14px;
  margin-top: 20px;
  margin-right: 50px;
  margin-left: -10px;
  width: 250px;
  height: 1118px;
  border: solid 1px lightgray;
  overflow-y: auto;
}

.groups-list {
  list-style: none;
  padding-left: 0px;
}

.groups-list a {
  padding-left: 20px;
  padding-top: auto;
  color: black;
  display: block;
  text-decoration: none;
  height: 40px;
  border: solid 1px transparent;
}

.groups-list a:hover {
  background-color: lightgray;
}

.posts-container {
  font-size: 16px;
  padding: 20px;
}

.posts-container h2 {
}

.post {
  background-color: white;
  border: solid 1px lightgray;
  border-radius: 6px;
  padding: 20px;
  margin: 10px 10px 20px 10px;
  width: 700px;
  max-height: 300px;
  overflow: hidden;
}

.posts-container li a {
  text-decoration: none;
  color: black;
}

.post-meta {
  white-space: nowrap;
  margin-top: -10px;
  font-size: 12px;
  color: gray;
}

.post h4 {
  font-size: 20px;
  margin-bottom: -2px;
  margin-top: -2px;
}

.post-meta span {
  font-weight: bold;
  color: black;
}

.post p {
  font-size: 15px;
  line-height: 20px;
}

.center-container h1 {
  margin-top: -50px;
}

.center-container {
  margin-left: 250px;
  margin-top: -80px;
  padding: 100px;
  width: 700px;
  justify-content: center;
}

.center-container h2 {
  margin-left: 70px;
  margin-bottom: -20px;
  margin-top: 44px;
}

.study-button {
  width: 260px;
  height: 40px;
  border-radius: 40px;
  background: lightblue;
  font-size: 16px;
  color: white;
  font-weight: bold;
  margin-top: 14px;
  margin-left: 30px;
}

.study-button:hover {
  background-color: rgb(182, 224, 238);
}

.right-container {
  background-color: white;
  font-size: 14px;
  margin-top: 108px;
  margin-left: 32px;
  padding: 20px;
  width: 320px;
  height: 300px;
  border: 1px solid lightgray;
  border-radius: 6px;
}

.right-container .border {
  border-top: 0.5px solid gray;
  margin-bottom: 4px;
}

.gray-bold {
  font-weight: bold;
  color: black;
}

.green {
  color: rgb(9, 148, 9);
}

/*Profile page css*/
.profile-container {
  background-color: white;
  border-top: 0.5px solid gray;
  margin-bottom: 4px;
}

.upper-profile {
  margin-top: 50px;
  display: flex;
  border-bottom: 1px solid #eeeeee;
  height: 300px;
}

.lower-profile {
  display: inline-block;
}

.profile-inner-left {
  width: 300px;
  height: 300px;
}

.profile-inner-right {
  min-height: 250px;
}

.profile-img {
  border: 5px solid #fff;
  height: 300px;
  margin: 0 auto;
  width: 300px;
}

.personal-information {
  font-size: 15px;
  margin-bottom: 12px;
  margin-left: 20px;
  padding-bottom: 12px;
}

.personal-information ul li {
  float: none;
}

.profile-list {
  float: none;
  position: left;
  height: 100%;
  list-style-type: none;
  padding: 0;
  margin: none !important;
  overflow: hidden;
  background-color: #ffffff;
  border: none !important;
}

.class-info {
  position: left;
  display: flex;
}

.personal-information .class-info {
  margin-left: 0px;
}

.class-con {
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 50px;
}

/* Search css */
.advanced-search {
  background-color: white;

  border: 1px solid lightgray;
  border-radius: 6px;
  padding: 20px;
  margin-top: 36px;
  margin-left: 70px;
  width: 700px;
  height: 300px;
}

.advanced-search h4 {
  height: 2px;
}
.advanced-search input[type="text"] {
  background-color: rgb(235, 235, 235);
  width: 300px;
  height: 24px;
  padding-left: 5px;
  border-radius: 6px;
  border: 1px solid lightgray;
}

.advanced-search input[type="text"]:hover {
  background-color: white;
  border: 1px solid black;
}

.search-results {
  list-style-type: none;
}

/* Login css */
.login-container {
  background-color: white;
  font-size: 34px;
  margin: auto;
  margin-top: 108px;
  width: 50%;
  border: 3px solid rgb(160, 189, 212);
  padding: 10px;
}

.form {
  margin: auto;
}

/* Direct Messages css */
.header {
  display: flex;
  flex-wrap: nowrap;
  object-fit: contain;
  position: sticky;
  top: 0;
  justify-content: space-between;
  height: 200;
  background-color: #ffffff;
  border-bottom: 1px solid gray;
  padding: 1em;
}

.home {
  margin-left: 800px;
  font-size: 20px;
}

.logout {
  font-size: 20px;
}
.logo {
  font-size: 50px;
}

.flex-container {
  display: flex;
  height: 100%;
  justify-content: center;
}

.flex-child-left {
  display: flex;
  flex-direction: column;
  width: 200px;
  border-right: 1px solid gray;
  overflow: auto;
}
.flex-child-right {
  flex: 1;
  overflow: auto;
}

.filter {
  align-self: center;
  width: 150px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 6px;
  padding-left: 10px;
}

.search {
  /* align-self: center;
  width: 300px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
  border-radius: 6px;
  padding-left: 10px;
  margin-left: 400px; */
}

.your-contacts {
  font-size: 20px;
  margin-left: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.messages {
  font-size: 20px;
  margin-left: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.user-profile-image {
  height: 75px;
  width: 75px;
}

.friends {
  margin-left: 630px;
  margin-right: 100px;
  display: flex;
  object-fit: contain;
  justify-content: space-evenly;
}

.friend {
  background-color: white;
  border: 1px solid gray;
  padding: 5px;
  display: flex;
  align-items: center;
  margin-right: 69px;
}

.message {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 100px;
  width: 980px;
  padding: 5px;
  border: 1px solid gray;
}

.message-button {
  width: 110px;
  height: 35px;
  border-radius: 40px;
  background: lightblue;
  color: white;
  font-weight: bold;
  margin-top: 5px;
}

.message-button:hover {
  background-color: rgb(182, 224, 238);
}

.message-button-two {
  width: 110px;
  height: 35px;
  border-radius: 40px;
  background: lightblue;
  color: white;
  font-weight: bold;
}

.message-button-two:hover {
  background-color: rgb(182, 224, 238);
}

.last-message {
  margin-top: 15px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

body {
  font-family: "arial";
}

.friend-two {
  border: 1px solid gray;
  padding: 5px;
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
}

#name {
  font-weight: bold;
  font-size: 25px;
}

.message-button-three {
  width: 150px;
  height: 40px;
  border-radius: 40px;
  background: lightpink;
  color: white;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 100px;
}

.message-button-three:hover {
  background-color: rgb(182, 224, 238);
}

.your-conversation {
  font-size: 20px;
  margin-left: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.filter-two {
  align-self: center;
  width: 490px;
  height: 30px;
  font-size: 20px;
  margin-left: 100px;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 6px;
  padding-left: 10px;
}

.user-conversation-message {
  margin-left: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 512px;
}

.other-conversation-message {
  margin-left: 625px;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 512px;
}

.send-message {
  align-self: center;
  width: 150px;
  height: 30px;
  font-size: 15px;
  margin-left: 100px;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 6px;
  padding-left: 10px;
}

.message-time {
  font-size: 12px;
  color: gray;
  margin-bottom: 3px;
}
.flex-child-left h2 {
  margin-bottom: 20px;
  font-size: 12px;
}

.login-button {
  align-self: center;
  font-size: 20px;
  margin-left: 340px;
  width: 150px;
  height: 40px;
}

/* CREATE POST */
.createpost-container {
  background-color: white;
  border-radius: 6px;
  margin-top: 36px;
  margin-left: 70px;
  width: 700px;
  height: 600px;
  border: 1px solid lightgray;
  padding: 20px;
}

.createpost-container h4 {
  height: 2px;
}
.createpost-container input[type="text"] {
  width: 694px;
  height: 30px;
  padding-left: 5px;
  border-radius: 6px;
  border: 1px solid lightgray;
  margin-bottom: 20px;
}

.createpost-container input[type="text"]:hover {
  border: 1px solid black;
}

.createpost-container textarea {
  border: 1px solid lightgray;
  font-family: "verdana";
  font-size: 16px;
  width: 694px;
  height: 400px;
  resize: none;
}

.createpost-container button {
  color: white;
  background-color: lightblue;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  margin-top: 20px;
  border: 1px solid black;
}
.createpost-container button:hover {
  background-color: rgb(182, 224, 238);
}

.message-button-group {
  width: 110px;
  height: 35px;
  border-radius: 40px;
  background: lightpink;
  color: white;
  font-weight: bold;
}

.message-button-1 {
  width: 110px;
  height: 35px;
  border-radius: 40px;
  background: lightpink;
  color: white;
  font-weight: bold;
  margin-top: 5px;
}

.message-button-1:hover {
  background-color: rgb(233, 213, 216);
}
.message-button-2 {
  width: 110px;
  height: 35px;
  border-radius: 40px;
  background: lightpink;
  color: white;
  font-weight: bold;
  margin-top: 5px;
}

.message-button-2:hover {
  background-color: rgb(233, 213, 216);
}
.message-button-3 {
  width: 110px;
  height: 35px;
  border-radius: 40px;
  background: lightpink;
  color: white;
  font-weight: bold;
  margin-top: 5px;
}

.message-button-3:hover {
  background-color: rgb(233, 213, 216);
}
.message-button-4 {
  width: 110px;
  height: 35px;
  border-radius: 40px;
  background: lightpink;
  color: white;
  font-weight: bold;
  margin-top: 5px;
}

.message-button-4:hover {
  background-color: rgb(233, 213, 216);
}
.message-button-5 {
  width: 110px;
  height: 35px;
  border-radius: 40px;
  background: lightpink;
  color: white;
  font-weight: bold;
  margin-top: 5px;
}

.message-button-5:hover {
  background-color: rgb(233, 213, 216);
}
.message-button-6 {
  width: 110px;
  height: 35px;
  border-radius: 40px;
  background: lightpink;
  color: white;
  font-weight: bold;
  margin-top: 5px;
}

.message-button-6:hover {
  background-color: rgb(233, 213, 216);
}

.message-button-astro-101 {
  width: 110px;
  height: 35px;
  border-radius: 40px;
  background: lightpink;
  color: white;
  font-weight: bold;
  margin-top: 5px;
}

.message-button-astro-101:hover {
  background-color: rgb(233, 213, 216);
}

.message-button-bio-101 {
  width: 110px;
  height: 35px;
  border-radius: 40px;
  background: lightpink;
  color: white;
  font-weight: bold;
  margin-top: 5px;
}

.message-button-bio-101:hover {
  background-color: rgb(233, 213, 216);
}

.bio-hw {
  width: 110px;
  height: 35px;
  border-radius: 40px;
  background: lightpink;
  color: white;
  font-weight: bold;
  margin-top: 5px;
}

.bio-hw:hover {
  background-color: rgb(233, 213, 216);
}

.eecs-493 {
  width: 110px;
  height: 35px;
  border-radius: 40px;
  background: lightpink;
  color: white;
  font-weight: bold;
  margin-top: 5px;
}

.eecs-493:hover {
  background-color: rgb(233, 213, 216);
}
.eecs-101 {
  width: 110px;
  height: 35px;
  border-radius: 40px;
  background: lightpink;
  color: white;
  font-weight: bold;
  margin-top: 5px;
}

.eecs-101:hover {
  background-color: rgb(233, 213, 216);
}
